body {
    background-color: #141414;
    font-family: proxima-nova, sans-serif;
    color: whitesmoke;
}

.title {
    font-size: 3em;
    color: #FFD700;
    position: absolute;               
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 85px;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Logo {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

img[alt="under construction"] {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
}